<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8">
        <title>웹페이지 스터디</title>
        <link rel="stylesheet" href="style.css" />
    </head>

    <body>
        <div class="container">
            <table class="table">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>pwd</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(let i in users) { %>
                        <tr>
                            <% let user = users[i]; %>
                            <th>
                                <%= user.id %>
                            </th>
                            <th>
                                <%= user.pwd %>
                            </th>
                        </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
    </body>

</html>